/* if you want to avoid repeating same styles throughout your project and have a unified styling use this*/
@import url(root.css)
    


/* p{
    color:var(--paragraph-color);
    color: rgb(247, 242, 242);

    background-color:var(--primary-color);
    
}

body {
    
    background-color: var(--primary-color);
    font-family: var(--font-main);
}

button {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    color: white;
}

button.danger {
    background-color: var(--accent-color);
}

h1{
    font-family: var(--font-main);
    color: var(--font-color);
}

h2 {
    font-family: var(--font-main);
    color: var(--font-color);
}

.responsive1 {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding: var(--primary-padding);
    width: fit-content;
}


@media screen and (max-width:1024px){
body {
    
    background-color: var(--tertiary-color);
    }
}


@media screen and (max-width: 980px) {
  body {
    
    background-color: var(--accent-color);}
}

@media screen and (max-width: 480px) {
  body {
    
    background-color: var(--light-green);
    margin-left: 0.5em;
    }

   .header1{
    display: none;
   }

    h1{
        color: red;
        font-size: 20px;
    }
     .responsive1{
        background-color: aqua;
    }
} */





summary {
  cursor: pointer;
  font-size: 1.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}


@media (min-width: 600px) {
  summary { display: none; }
  nav { flex-direction: row; margin-top: 0; }
}



/* Media Types */
/* all --	Used for all media type devices
print --	Used for print preview mode
screen --	Used for computer screens, tablets, smart-phones etc. */
